/* B L O C K S */
TrackingZone{
	-fx-background-color: rgb(0,0,0);
}
GameBlock{
	-fx-background-color: #998877;
}
Maps{
	-fx-background-color: rgb(0, 0, 255);
}
ToolBox{
	-fx-background-color: #998877;
}
.toolBoxLabel{
	-fx-text-fill : #001166;
	-fx-font-size: 20px;
    -fx-padding: 10 15 10 15;
    -fx-border-width: 1;
    -fx-font-family: "Comic Sans MS";
}
.dataLabel{
	-fx-text-fill : #001166;
	-fx-font-size: 16px;
    -fx-padding: 10 15 10 15;
    -fx-border-width: 1;
    -fx-font-family: "Comic Sans MS";
}
.toolBoxButton{
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.toolBoxButton:hover{
	-fx-background-color: linear-gradient(#184981, #1b67a1);
}
DataDisplayer{
	-fx-background-color: #716965;
}
/* O T H E R*/

.button {
	-fx-background-color : #2a78b2;
	-fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;
}
.button:hover {
    -fx-background-color: linear-gradient(#184981, #1b67a1);
}
.label{
	-fx-font-size: 32px;
   	-fx-font-family: "Courier New";
   	-fx-fill: white;
   	-fx-effect: innershadow( three-pass-box , rgba(255,255,255,0.9) , 6, 0.0 , 0 , 2 );
}