/* B L O C K S */
TrackingZone{
	-fx-background-color: rgb(0,0,0);
}
GameBlock{
	-fx-background-color: #998877;
}
Maps{
	-fx-background-color: rgb(0, 0, 255);
}
ToolBox{
	-fx-background-color: #998877;
}
#calendarLabel{
	-fx-text-fill : rgb(255,255,255);
	-fx-font-size: 14px;
}
.toolBoxLabel{
	-fx-text-fill : #001166;
	-fx-font-size: 20px;
    -fx-padding: 10 15 10 15;
    -fx-border-width: 1;
    -fx-font-family: "Comic Sans MS";
}
.dataLabel{
	-fx-text-fill : #001166;
	-fx-font-size: 14px;
    -fx-padding: 5 5 5 5;
    -fx-border-width: 1;
    -fx-font-family: "Comic Sans MS";
}
.toolBoxButton{
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.toolBoxButton:hover{
	-fx-background-color: linear-gradient(#184981, #1b67a1);
}
DataDisplayer{
	-fx-background-color: #716965;
}
.pause{
	-fx-background-color: rgba(76, 76, 76, 0.6);
	-fx-padding: 10;
}

StartMenu {
	-fx-spacing :30;
	-fx-background-color : #0e3a6b;
	-fx-padding: 120px;
}

.backToGame{
	-fx-alignment: center ;
	-fx-padding: 20 52 20 52;
}
.save{
	-fx-alignment: center ;
	-fx-padding: 20 90 20 90;
}
.load{
	-fx-alignment: center ;
	-fx-padding: 20 90 20 90;
}
.quit{
	-fx-alignment: center ;
	-fx-padding: 20 65 20 65;
}

.satisfaction{
	-fx-alignment: center ;
	-fx-padding: 20 60 20 60;
}

/* GENERAL */


.menuButton {
	-fx-background-color : #2a78b2;
	-fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;
	-fx-font-size : 16px;
}
.menuButton:hover {
    -fx-background-color: linear-gradient(#184981, #1b67a1);
}
.menuLabel{
	-fx-font-size: 46px;
   -fx-font-family: "Courier New";
   -fx-fill: white;
   -fx-effect: innershadow( three-pass-box , rgba(255,255,255,0.9) , 6, 0.0 , 0 , 2 );
}
